<h1>Меню {{cafe && cafe.name}}</h1>
<div class="menu-container">
  <md-list>
    <div *ngFor="let category of arrangedDishes">
      <h3 md-line>{{category.category}}</h3>
      <md-list-item class="dish-item" [ngClass]="{'ordered': dish.quantity > 0}" *ngFor="let dish of category.dishes">
        <div fxLayout="row" fxFlex="70%" fxLayoutAlign="space-between center">
          <div fxFlex="30%">
            {{dish.name}} {{dish.weight}}
          </div>
          <div fxFlex="30%" class="dish-description">
            {{dish.description}}
          </div>
          <div fxFlex="10%">
            <b>{{dish.price | number:'1.2-2'}}</b> руб.
          </div>
          <div fxFlex="10%">
            <button md-icon-button color="accent" (click)="remove(dish)">
              <md-icon>remove</md-icon>
            </button>
            <span>{{dish.quantity}}</span>
            <button md-icon-button color="accent" (click)="add(dish)">
              <md-icon>add</md-icon>
            </button>
          </div>
        </div>
      </md-list-item>
      <md-divider></md-divider>
    </div>
  </md-list>
  <div class="result-row">
    <md-input-container fxFlex="50%">
      <textarea mdInput placeholder="Комментарий">{{comment}}</textarea>
    </md-input-container>
    <span fxFlex="10%">Итого: <b>{{getTotalPrice() | number:'1.2-2' }}</b> руб.</span>
    <button md-raised-button color="primary" fxFlex="10%" (click)="saveOrder()">
      <md-icon>move_to_inbox</md-icon> Отправить заказ
    </button>
  </div>
</div>
